@import url('../../site-styles/w3.css');
@import url('/urdu-fonts/urdu-fonts.css');
/* @import url('../fonts.css'); */

body,article *,span{
 font-family: 'Noto Naskh Arabic',serif!important;

 /* font-family: 'Aref Ruqaa', serif; */
 /* font-size: 2rem; */
}

  i.bi{
   font-size: 28px;
  }
  thead{
   color:#f8f2f2;
   background-color: rgb(1, 1, 16);
  }

.interactive-content *{
 color:rgb(57, 34, 204);
 background-color: rgb(180, 214, 129);
 text-align: center;

}

thead{
 text-align: center;
}
ul{
 border:1px solid green;
}
.ur,.dir-rtl{
 color:rgb(232, 38, 17);
 direction: rtl;

}
.ur-latin{
 color:rgb(47, 54, 4);
 border:1px dashed yellowgreen;

}

#toc *{
 color:navajowhite;
}

.navbar-nav *{
 color:green;
}



.article *{
 color:brown;
 /* font-size: larger; */
 direction: rtl;
}

.listening{
 border:2px solid grey;
}
.listening *{
 color:brown;
font-size: 1rem;


}


td.notranslate{
 color:green;
}
span{
 color:slateblue;
}

h1{
 background-color: rgb(59, 59, 157);;
 color:white;
}
h2{
 background-color: #81a589;
 color:rgb(182, 96, 16);
 /* padding:1rem; */

}

td.tg-149k{
 font-family: 'Noto Nastaliq Arabic',serif;

}
.img-fluid{
 max-width: 300px!important;
 max-height: 300px!important;

}

.thanks-wrapper{
 background: content-box radial-gradient(crimson, skyblue);
/* border: 1px solid blue;*/
border-radius:30% 10% 30% 10% / 30% 10% 10% 10%;

 width:100px;
 height: 50x;
 margin:auto;
 color: white;
}
span.AR{
 color:red;
 margin-left: 10%;
background-color: silver;
}

div.button-wrapper{
 float:left;
}
/* animation  */
h1 {
  animation: cssAnimation_0 5000ms 1 linear 1000ms;
  color: yellow;
}

@keyframes cssAnimation_0 {
  to {
    border: 17px groove rgb(241, 237, 7);
    border-radius: 23px;
  }
}
tr:hover{
  background-color:bisque!important;
}