@import url('../fonts.css');

body{
 font-family: 'Noto Naskh Arabic',serif;
 /* font-size: ; */
}

  td>p {
   color: green;
  }

  i.bi{
   font-size: 28px;
  }
  thead{
   color:white;
   background-color: rgb(55, 55, 117);
  }

.table{
 color:green;
 /* min-width: 100%!important; */
}
.interactive-content *{
 color:white;
 background-color: rgb(65, 28, 33);
}
h1{
 background-color: rgb(59, 59, 157);;
 color:white;
 /* padding:0.5rem; */
}
h2{
 background-color: #28A745;
 color:white;
 /* padding:1rem; */
}


td,th{
 border:1px solid silver;
}
thead{
 text-align: center;
}
ul{
 border:1px solid green;
}
.ur{
 color:rgb(129, 48, 39);
 direction: rtl;
 font-size: 1.1rem;
}
.ur-latin{
 color:rgb(31, 71, 31);
}
.bi-pencil-fill{
 padding:5px;

}