
body{
 font-family: 'Hack', 'Noto Naskh Arabic';
 font-size: 16px; 
 background-color: bisque;
 padding: 16px;
}

img{
  width: 100%;
}

.content-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}