body{
 font-family: 'Noto Naskh Arabic',serif;
}

header{
 text-align: center;
 direction: ltr;
}
.sentence{
 border:1px solid blue;
 padding-right: 1rem;
 font-size: large;
}
.ur{
 color:brown;
}
.ar{
 color:green;
}