@import url('https://fonts.cdnfonts.com/css/liberation-serif');
@import url('/docs/fonts.css');
@font-face {
 font-family: 'Aref-Regular',sans-serif ;
 src: url('/urdu-fonts/arif-regular-1.ttf');
}
@font-face {
 font-family: 'Nastaleeq';
 src: url('/urdu-fonts/Pak\ Nastaleeq.ttf');
}


*{
 box-sizing: border-box;
}

html{
 direction: rtl;
}
body{
 font-family: 'aAref-Regular','Nastaleeq',serif;
}
div.wrapper{
 display: flex;
 flex-direction: column;
 padding:1rem;
}

div.row{
 display: flex;
 padding:2px;

}
.urdu{
 flex:4;
 border:1px solid blue;
 color:brown;
 /* text-align: right; */

}
.cat{
 flex:1;
 border:1px solid blue;
 color:black;
 text-align: center;
}
.arb{
 flex:4;
 border: 1px solid blue;
 color:green;
 /* text-align: right; */
}