@import url('https://fonts.cdnfonts.com/css/liberation-serif');

*{
 box-sizing: border-box;
}

html{
 direction: rtl;
}
body{
 font-family: 'Liberation-serif',serif;
 
}
div.wrapper{
 display: flex;
 flex-direction: column;
 padding:1rem;
}

div.row{
 display: flex;
 padding:2px;

}
.urdu{
 flex:4;
 border:1px solid blue;
 color:brown;
 text-align: right;
 padding-right: 1rem;
}
.cat{
 flex:1;
 border:1px solid blue;
 color:black;
 text-align: center;
}
.arb{
 flex:4;
 border: 1px solid blue;
 color:green;
 text-align: right;
 padding-right: 1rem;
}
header{
 text-align: center;
 }

 header>button{
 background-color: white;
 color:blue;
 }