* {
 box-sizing: border-box;
}

body {
 font-size: 2vw;
}


.thead,
.tbody {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

.td,
.th {
 border: 1px solid blue;
 text-align: center;
}

.thead {
 background-color: gainsboro;
 text-align: center;
}

.tr {
 display: flex;
 flex-wrap: wrap;
}
.tr:hover{
 background-color: rgb(255, 190, 110);
}

.arb {
 flex: 3;
}

.notranslate {
 flex: 1;
}

.urdu {
 flex: 3;
}

.example {
 flex: 6;
}
details{
  padding:1rem;
}

/* @media */

@media (max-width: 350px) {
 
body{
  font-size: 2.5vw;
}
 .thead{
  display: none;
 }
.tbody{
  row-gap: 5px;
 }
 .notranslate{
  flex:19%;
 }
 .arb,.urdu{
  flex:40%;
 }
 .example{
  flex:100%;
 }
}

